<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% if (game.name) { %>
        <h1><%= game.name %></h1>
        <% } %>
        <% if (game.cover) { %>
            <p><img src="<%= game.cover.url %>"><p>
            <% } %>
            
            <% if (game.screenshots) { %>
                <% game.screenshots.forEach((screenshot) => { %>
                    
                    
                    <img src="<%= screenshot.url %>">
                    
                    <% })} %>
                <% if (game.summary) { %>
                    <p><%=game.summary %></p>
                    <% } %>
</body>
</html>