<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Games : </h1>
    
    <% games.forEach((game) => { %>
        
        <% if (game.name) { %>
            <p><%= game.name %></p>
            <% } %>
            <% if (game.cover) { %>
                <img src="<%= game.cover.url %>">
                <% } %>
                <% if (game.screenshots) { %>
                    <% game.screenshots.forEach((screenshot) => { %>
                        
                        
                        <img src="<%= screenshot.url %>">
                        
                        <% }) %>
                        <% if (game.platforms) {%>
                            <%  game.platforms.forEach((platform) => { %>
                                
                                
                                <% if (platform.platform_logo) { %>
                                    <img src="<%= platform.platform_logo.url %>">
                                    
                                    <%}}) %>
                                    
                                    <% } %>
                                    <%  }}) %>
                                    
                                    
</body>
</html>
                                
                                